[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
starlette = "*"
pillow = "*"
uvicorn = "*"
gunicorn = "*"
arrow = "*"
ics = "*"
aiohttp = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "uvicorn garbage.server:app --debug --port 8000"
deploy = ""
